.btnCont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.btn {
  height: 45px;
  width: 160px;
  background-color: #0066b2;
  outline: none;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #591800;
  background-color: aqua;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
}
